<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @instructor.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @instructor.bio %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @instructor.mobile %>
</p>

<% if user_signed_in?  && (can? :update, @instructor)%>
<%= link_to 'Edit', edit_instructor_path(@instructor) %>
<% end %> |
<%= link_to 'Back', instructors_path %>
